@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
} */

/* .header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
  } */

body {
	background: linear-gradient(90deg, #C7C5F4, #535258);
}

.container{
	display: grid;
	min-height: 100dvh;
	grid-template-rows: 1fr 9fr;
}

.buttonNewCliente {
    background-color: #DFAC2C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: calc(100% - 30px);
    /* Ancho total menos el espacio en los lados */
    margin: 0 15px;
    /* Espacio en los lados del botón */
}